@font-face {
    font-family: 'Roca';
    src: url('fonts/roca/Roca Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roca';
    src: url('fonts/roca/Roca Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roca';
    src: url('fonts/roca/Roca Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helvetica/HelveticaNeue-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helvetica/HelveticaNeue-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helvetica/HelveticaNeue-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}


:root {
    --base-color-white: #fff6ee;
    --base-color-brand--umber: #803b2c;
    --text--font-family--heading: 'Roca', sans-serif;
    --text--font-family-secondary: 'Helvetica Neue', Arial, sans-serif;
    --base-color-brand--text-darker: #23100c;
    --base-color-secondary: #371009;
    --base-color-brand--light-pink: #fbdadf;
    --base-color-brand--safron: #f90;
    --base-color-brand--red: #e21920;
    --base-color-brand--cinamon: #d85026;
    --base-color-brand--dark-pink: #f26b75;
    --base-color-brand--pale: #ce7643;
    --text-color--text-primary: var(--base-color-brand--text-darker);
    --transition: 300ms ease-in-out;
    --border-radius: 100px;
}


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-style: normal;
    line-height: normal;
    letter-spacing: 0;
    font-family: var(--text--font-family--heading);
    color: var(--text-color--text-primary);
    background-color: var(--base-color-white);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    padding-left: 62px;
    padding-right: 62px;
    margin-left: auto;
    margin-right: auto;
}

header {
    .container {
        padding: 20px 62px;
        display: flex;
        justify-content: space-between;
    }
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: transform var(--transition);
    transform: translateY(0)
}

.hide {
    transform: translateY(-100%)
}

.show {
    transform: translateY(0);
}

header nav ul {
    display: flex;
    gap: 10px;
}


.nav-link {
    background-color: var(--base-color-white);
    border: 1px solid var(--base-color-brand--umber);
    font-family: var(--text--font-family--heading);
    font-weight: 600;
    padding: 0 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background-color var(--transition);
}

.nav-link a {
    padding-bottom: 3px;
}

.hero a {
    transition: color var(--transition);
}

.title {
    text-transform: uppercase;
    font-family: var(--text--font-family-secondary);
}

.nav-link:hover,
.nav-link:focus {
    background-color: var(--base-color-secondary);
    color: var(--base-color-white);
}

.hero {
    background-image: linear-gradient(#f46c75, #ffa5aa 50%);
    height: 100dvh;
    margin-bottom: 40px
}


h1 {
    font-family: var(--text--font-family--heading);
    color: var(--base-color-brand--text-darker);
    font-size: 88px;
    letter-spacing: -.01ch;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 0.95;
}

h2 {
    font-family: var(--text--font-family--heading);
    font-size: 72px;
    font-weight: 700;
}

h3 {
    font-family: var(--text--font-family--heading);
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
}

h4 {
    font-size: 20px;
    font-family: var(--text--font-family-secondary);
    line-height: 1.2;
    color: var(--base-color-brand--text-darker);
}


.hero-title {
    padding-top: 20%;
}

.hero-text {
    padding-top: 15px;
}

.marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 130px;
    margin-bottom: 160px;
}

.marquee-box {
    display: flex;
    gap: 20px;
    position: absolute;
    white-space: nowrap;
}

.marquee-box li {
    padding: 8px 24px;
    border-radius: var(--border-radius);
    color: white;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
}


.marquee-box:nth-child(1) {
    top: 0;
    animation: marquee-left 60s linear infinite;
}

.marquee-box:nth-child(2) {
    top: 55px;
    animation: marquee-right 60s linear infinite;
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50.49%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-50.49%);
    }
    100% {
        transform: translateX(0);
    }
}

.red-bg {
    background-color: var(--base-color-brand--red);
}

.dark-pink-bg {
    background-color: var(--base-color-brand--dark-pink);
}

.light-pink-bg {
    background-color: var(--base-color-brand--light-pink);
    color: var(--text-color--text-primary) !important;
}

.brand-umber-bg {
    background-color: var(--base-color-brand--umber);
}

.cinamon-bg {
    background-color: var(--base-color-brand--cinamon);
}

.pale-bg {
    background-color: var(--base-color-brand--pale);
}

.safron-bg {
    background-color: var(--base-color-brand--safron);
}

.about-me {
    background-color: var(--base-color-secondary);
    position: relative;
    height: 876px;
    margin-bottom: 40px;
}

.about-me h4,
.about-me h2,
.about-me h3,
.about-me p {
    color: var(--base-color-white);
}

.about-me img {
    width: 450px;
    height: 450px;
    border-radius: 25px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 16%;

}


.about-me-right-text-box {
    background-color: var(--base-color-brand--umber);
    border-radius: 25px;
    padding: 18px;
    width: 425px;
    position: absolute;
    left: 17%;
    top: 58%;
    z-index: 3;
}

.about-me-title {
    position: absolute;
    z-index: 2;
    left: 3%;
    top: 24%;
    font-weight: 700;
    width: 270px;
    line-height: 1;
}

.about-me-title span {
    display: block;
}

.about-me-title span:nth-child(2) {
    text-align: end;
}

.about-me-left-box {
    position: absolute;
    top: 25%;
    left: 55%;
    max-width: 700px;
    z-index: 5;
}

.about-me::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4%;
    left: 0;
    width: 100%;
    height: 300px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1442 151"><path d="M0.775391 150.25C0.775391 150.25 0.775391 68.4443 0.775391 68.3292C0.775391 68.2849 13.9613 68.4047 21.028 67.4305C37.2691 65.199 56.9904 59.558 71.2921 51.6234C85.5938 43.6888 98.3458 35.1875 113.568 30.9369C132.307 25.7032 152.701 26.8722 170.722 34.2842C173.423 35.3912 176.089 36.569 178.745 37.7822C182.279 39.4116 185.777 41.103 189.248 42.8476C189.416 42.9361 189.593 43.0158 189.762 43.1044C190.426 43.4409 191.09 43.7774 191.754 44.105C203.435 50.0117 215.071 56.1043 227.309 60.7889C261.589 73.9305 296.311 75.1703 330.582 65.4912C365.004 55.9095 399.133 35.4886 433.262 22.6215C467.392 9.74553 501.512 4.42335 535.641 9.03709C583.258 15.4751 625.206 40.9436 670.086 56.2549C715.081 71.6015 758.048 70.6717 801.414 49.9231C831.328 35.6037 860.401 14.1822 893.521 15.7496C924.205 17.2108 949.904 38.1276 977.648 51.3135C1002.67 63.2065 1031.02 69.0423 1058.4 64.8093C1122.3 54.9177 1169.79 -5.30889 1237.49 0.606611C1296.87 5.79596 1345.3 46.195 1401.41 62.312C1413.19 65.6949 1425.33 67.8733 1437.6 68.2541C1437.76 68.2541 1441.49 68.3641 1441.49 68.3287V150.249L0.775391 150.25Z" fill="%23fff6ee"/></svg>') no-repeat bottom;
    background-size: 101% auto;
    z-index: 2;
}


.about-me::before {
    content: "";
    display: block;
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 300px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1442 151"><path d="M0.775391 150.25C0.775391 150.25 0.775391 68.4443 0.775391 68.3292C0.775391 68.2849 13.9613 68.4047 21.028 67.4305C37.2691 65.199 56.9904 59.558 71.2921 51.6234C85.5938 43.6888 98.3458 35.1875 113.568 30.9369C132.307 25.7032 152.701 26.8722 170.722 34.2842C173.423 35.3912 176.089 36.569 178.745 37.7822C182.279 39.4116 185.777 41.103 189.248 42.8476C189.416 42.9361 189.593 43.0158 189.762 43.1044C190.426 43.4409 191.09 43.7774 191.754 44.105C203.435 50.0117 215.071 56.1043 227.309 60.7889C261.589 73.9305 296.311 75.1703 330.582 65.4912C365.004 55.9095 399.133 35.4886 433.262 22.6215C467.392 9.74553 501.512 4.42335 535.641 9.03709C583.258 15.4751 625.206 40.9436 670.086 56.2549C715.081 71.6015 758.048 70.6717 801.414 49.9231C831.328 35.6037 860.401 14.1822 893.521 15.7496C924.205 17.2108 949.904 38.1276 977.648 51.3135C1002.67 63.2065 1031.02 69.0423 1058.4 64.8093C1122.3 54.9177 1169.79 -5.30889 1237.49 0.606611C1296.87 5.79596 1345.3 46.195 1401.41 62.312C1413.19 65.6949 1425.33 67.8733 1437.6 68.2541C1437.76 68.2541 1441.49 68.3641 1441.49 68.3287V150.249L0.775391 150.25Z" fill="%23371009"/></svg>') no-repeat bottom;
    background-size: 101% auto;
    z-index: 2;
}


.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}

.projects .container {
    padding-left: 20px;
    padding-right: 20px;
}

.project-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.projects img {
    width: 100%;
    max-width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.project-box-item {
    width: 400px;
    height: 500px;
    text-align: start;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 30px 15px;
    transition: transform var(--transition);
}

.project-box-item:hover,
.project-box-item:focus {
    transform: scale(1.01);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}


.pink {
    border: 3px solid #f8767f;
}

.brown {
    border: 3px solid #9f5d46;

}


.yellow {
    border: 3px solid #dd8041;
}

.projects a {
    background-color: var(--base-color-white);
    border: 1px solid var(--base-color-brand--umber);
    font-family: var(--text--font-family--heading);
    font-weight: 600;
    padding: 0 15px 3px 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background-color var(--transition);
}


.projects ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 80px;
}

.projects a:hover {
    background-color: var(--base-color-secondary);
    color: var(--base-color-white);
}

.projects h2 {
    margin-bottom: 60px;
}

.projects h4 {
    padding-left: 4px;
}

.footer-wave {
    overflow: hidden;
    position: relative;
    height: 102px;
}

.wave-track {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 200%;
    animation: wave 10s linear infinite;
}

.wave-track svg {
    width: 50%;
}

.wave-track svg:nth-child(2) {
    margin-left: -2px;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


.footer-content-box {
    background-color: var(--base-color-secondary);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}


.social-link {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: var(--base-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition);
}


.social-link img {
    width: 20px;
    height: 20px;
    transition: color var(--transition);
}

.social-link:hover img {
    filter: brightness(0) invert(1);
}

.social-link:hover {
    background-color: var(--base-color-brand--safron);
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

footer h2 {
    font-family: var(--text--font-family--heading);
    color: var(--base-color-white);
    text-transform: uppercase;
}